/* About Section */

.about {
    background: rgb(255,139,106);
    background: linear-gradient(#FFEBEB, rgba(255,255,255,1) 100%);
    padding: 100px 0 20px 0;
    text-align: center;
    scroll-behavior: smooth;
}

.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1rem;
    color: #323030;
    max-width: 800px;
    margin: 0 auto;
}

.about-info {
    margin: 5rem 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-img {
    width: 30rem;
    height: 20rem;

}

.about-img img {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    object-fit: contain;
}

.about-info p {
    font-size: 1.3rem;
    margin: 0 2rem;
    text-align: justify;
}

button {
    border: none;
    outline: 0;
    padding: 10px;
    margin: 2rem;
    font-size: 1rem;
    color: white;
    background-color: #fa724a;
    text-align: center;
    cursor: pointer;
    width: 15rem;
    border-radius: 4px;
}

button:hover {
    background-color: #ff9b7e;
}